<div class="flex flex-col items-center justify-center h-screen bg-gray-200">
    <h1 class="text-5x1 font-medium text-gray-700">Counter</h1>
    <span class="m-5 text-9x1"><%= @number %></span>

    <section>
        <button phx-click="dec" class="text-white text-4x1 bg-indigo-600 px-6 py-rounded hover:bg-indigo-900">-</button>
        <button phx-click="clear" class="m-10 text-white text-4x1 bg-indigo-900 px-4 py-rounded hover:bg-indigo-500">Clear</button>
        <button phx-click="inc" class="text-white text-4x1 bg-indigo-600 px-6 py-rounded hover:bg-indigo-900">+</button>
    </section>
</div>